# Konfiguracja pliku crontab
#
# Cron umożliwia co określony czas automatyczne uruchumianie skryptów.
#
# Aby dodać coś do crontab najlepiej wpisz w terminalu "crontab -e"

*/10 * * * * /opt/skrypty/service-watchdog.sh
